# dependencies
node_modules/

# builds
dist/
build/

# env
.env
.env.local
.env.production

# logs
logs/
*.log

# test
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# vercel
.vercel
.env
.env.local
.env.production
.env.development
